@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  --Content-height: calc(100dvh - 100px);
}
body {
  height: 100%;
}
.ant-table {
  min-height: calc(var(--Content-height) / 2.1) !important;
  max-height: calc(var(--Content-height) / 2.1 - 20px) !important;
  overflow: auto !important;
}
.ant-empty-normal {
  margin: calc(var(--Content-height) / 6.8) 0 !important;
}
.ant-table-wrapper .ant-table.ant-table-small {
  font-size: 0.8em !important;
}
